@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-background-default text-gray-900 font-sans antialiased;
    overflow: hidden; /* Evita el scroll global para experiencia de Kiosco */
    touch-action: none; /* Previene gestos nativos del navegador en táctil */
    user-select: none; /* Previene la selección de texto en táctil */
  }
}
